.about {
  padding-top: 0px;
}

.about_list {
  display: flex;
  gap: 30px;
}

.about__item {
  position: relative;
}

.about__box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.about__box-text {
  min-width: 144px;
  min-height: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  padding: 27px;
}
