.btn {
  cursor: pointer;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.88;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 216px;
  min-height: 50px;
  border: transparent;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.list-btn {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.footer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.88;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: transparent;
  margin-left: 12px;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.form-btn {
  display: block;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.88;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: transparent;
  margin: 30px auto 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
