.form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.form-checkbox {
  appearance: none;

  &:checked {
    background-color: var(--accent-color);
    border-color: transparent;
    background-size: contain;
  }
}

.form-checkbox-icon {
  cursor: pointer;
}

.form-checkbox-icon .unchecked {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  &:checked + .form-checkbox-icon .unchecked {
    opacity: 0;
  }

  &:checked + .form-checkbox-icon .checked {
    opacity: 1;
  }
}

.form-checkbox-icon .checked {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agreement-link {
  color: var(--accent-color);
}
