.facts__container {
  display: flex;
}

.facts__container-icons {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 120px;
}

.facts__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .facts__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}


.facts__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .facts__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .facts__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.facts__title {
  text-align: center;
  color: #212121;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .facts__title {
    text-align: left;
  }
}

.facts__text {
  line-height: 1.71;
  color: var(--primary-text-color);
  margin: 0;
}
