footer {
  padding: 60px 0;
  background: var(--secondary-background-color);
}

.footer {
  min-width: 231px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer {
    margin-bottom: 0;
  }
}

.address-list {
  font-style: normal;
  line-height: 1.71;
}

.footer__item {
  height: 21px;
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-link {
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.footer-address .address-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address > .link {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-part {
  color: var(--primary-white-color);
}

.footer-text {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-text-subscription{
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.contact-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}
