.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img-s@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 1600px;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 118px 0px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}


@media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img-s@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img-m@1x.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2),
screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 481px) and (min-resolution: 192dpi),
screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img-m@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-img.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 769px) and (min-resolution: 192dpi),
screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero-img@2x.jpg);
  }
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-transform: uppercase;
  margin: 0px auto 30px;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    min-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
