.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &:nth-child(4n) {
    background-color: #f5f4fa;
  }

  &:nth-child(4n) {
    background-color: var(--primary-background-color);
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
