.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: #fff;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.socials-icon {
  fill: currentColor;
}

.footer-socials {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

.socials-icon-footer {
  fill: currentColor;
}
